<form
    action="/admin/add-todo"
    role="form"
    class="row w-50 justify-content-center mx-auto"
    method="POST"
>
    <div class="input-group mb-1">
        <input
            type="text"
            name="todo"
            class="form-control w-50"
            placeholder="امروز چیکارا میخوای بکنی ؟"
        />
        <div class="input-group-prepend">
            <button type="submit" class="btn btn-primary fa fa-plus"/>
        </div>
    </div>
</form>