<%- include ('./includes/head.ejs') %> 
<div class="text-center">
    <img src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/02/000-404.png" alt="404 Not Found" width="1080" height="608" style="margin-top:  50px;">
            <h4 class="mx-auto mt-3 alert alert-danger" style="width: 1080px;">صفحه مورد نظرت رو پیدا نکردم!</h4>
            <a href="/" class="btn btn-info">برگردونم به صفحه اصلی
            <span class="fa fa-heartbeat" style="color: red;"></span>
            </a>
        </div>
<%- include ('./includes/footer.ejs') %> 